



.link {
    text-decoration: none;
    font-size:30px;

}

.col-lg {

   
    font-size: 30px;
}


.col {

    font-family:Arial, Helvetica, sans-serif;
}




@media screen and (max-width:576px) {

   

    .link {

        font-size: 20px;
        position: relative;
        right: 15px;
        
    }
}

@media screen and (max-width:434px) {

   

    .link {

        font-size: 19px;
        
    }
}